@{
    ViewBag.Title = "RestaurantDashboard";
}

<main class="container text-center">
    <h2 class="mb-4">RESTAURANT DASHBOARD</h2>
    <form action="" method="post" class="mb-4">
        <fieldset>
            
            <div class="form-group">
                <a href="/Restaurant/AddFood" class="btn btn-success">ADD FOOD WITH DETAILS</a>
                <a href="/Restaurant/CheckRequestInfo" class="btn btn-success">SEE ALL THE ADDED FOOD</a>
            </div>
        </fieldset>
    </form>
</main>
