
@{
    ViewBag.Title = "EmployeeDashBoard";
}
<h2 class="text-center">EMPLOYEE DASHBOARD</h2>
<br />
<main class="container text-center">
    <form action="" method="post" class="mb-4">
        <fieldset>

            <div class="form-group">
                <a href="/Employee/SeeAllRequest" class="btn btn-success">SEE ALL THE FOOD ADDED BY RESTAURANT </a>

            </div>
        </fieldset>
    </form>
</main>


   

